PORT=5000
DATABASE_URL="postgresql://user:password@server:port/dbname?schema=public"
FRONTEND_URL="http://frontend.url"
NODE_ENV="development"   # development | production
JWT_SECRET="secret"
DOMAIN="localhost"
API_URL="http://localhost:PORT"
BASIC_PASSWORD="usedPasswordForTesting"
MAIL_HOST="mail.server.com"
MAIL_PORT=2137
MAIL_USER="mail@example.com"
MAIL_PASS="secretpasssowrdtoemail"